@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400;700&display=swap');


body {
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    margin: 0;
    background-color: #1d2440;
    
}



header {
    background-color: #9b0800;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {

    width: 100px;
    max-width: 100%; 
    margin-left: 5px;
    height: auto; 
    
}


nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cabeca {
    color: #ffffff;
    text-decoration: none;
    font-weight: bolder;
    padding: 15px;
    font-size: 18px;
    transition: 0.8s;
}
.cabeca:hover {

    border-radius: 15px;
    background-color: #ffffff;
    color: #9b0800;
}
.login a {
    margin-right: 10px;
}

.galeria {
    margin-bottom: 30px;
}

section h2 {
    color: #333;
}

/* Rodapé */
.rodape {
    background-color: #bb9457;
    color: #fff;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
  }
  
  .conteudo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .informacoes-contato {
    flex: 1;
    text-align: center;
  }
  
  .informacoes-contato p {
    margin: 5px 0;
  }
  
  .logor {
    flex: 1;
    text-align: left; 
  }
  
  .logor img {
    max-width: 90%;
    height: auto;
    
  }
  
  .redes-sociais {
    flex: 1;
    text-align: right;
  }
  
  .redes-sociais ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }
  
  .redes-sociais li {
    margin-right: 15px; /
  }
  
  .redes-sociais a {
    color: #fff;
    font-size: 29px; 
    transition: color 0.3s, transform 0.3s;
  }
  .fab {
    display: inline-block;
  }
  
  a.facebook:hover i {
    color: #3b5998;
  }
  
  a.twitter:hover i {
    color: #1da1f2;
  }
  
  a.instagram:hover i {
    color: #e4405f;
  }
  
  a.whatsapp:hover i {
    color: #25d366;
  }
  
  .rodape a:hover i {
    transform: scale(1.2); /* Aumenta o tamanho dos ícones em 20% quando o mouse passa por cima */
  }
  
  .rodape a:link {
    color: white;
    text-decoration: none;
  }
  
  .rodape a:visited {
    color: white; 
  }
  
  .rodape a:hover {
    color: #9b0800; 
  }
  
  .rodape a:active {
    color: #dc143c; 
  }
  
  .login {
      display: flex;
      align-items: center;
  }
  
  .login a {
      margin-right: 10px;
  }
  
  
  #banner {
      width: 100%;
      height: 300px;
      background-size: cover;
      background-position: center;
      transition: background-image 0.5s ease-in-out;
  }
  
  /* CSS para a seção de imagens aleatórias */
  #random-images {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }
  
  #random-images img {
      width: 200px;
      height: 200px;
      margin: 10px;
      border-radius: 5px;
      object-fit: cover;
  }
  

/* CSS para a seção de imagens aleatórias */
#random-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#random-images img {
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 5px;
    object-fit: cover;
}

/* CSS para a galeria de imagens */
#image-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    position: relative;
    padding: 5%;
}

#image-gallery img {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    object-fit: cover;
    margin-right: 10px;

}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
}

.prev {
    left: 20px;
}

.next {
    right: 20px;
}



/*CARROSSEL DE EXPOSSIÇÃO*/


.containe{
    align-items: center;
    justify-content: center;
    

}

.grade img{
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: -3%;
}
.cima{
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(56, 56, 56, 0.336)45%, rgb(0, 0, 0) 100%);
    text-align: center;
    color: #ffffff;
    height: 100%;
    width: 100%;
    margin-right: 0;

  
}
.h2_padaria{
    font-size: 55px;
    color: #1d2440;
    padding: 1%;
    font-weight: bolder;
    font-family: 'Bebas Neue', sans-serif;
    background:rgba(255, 255, 255, 0.336);
    border-radius: 25px;
    margin: 0 3%;
    

}

.h1_titulo{
    font-size: 70px;
    color: #ffffff;
    padding: 10px;
    padding-top: 10%;
    font-weight: bolder;
    font-family: 'Dancing Script', cursive;
}
.h5_melhor{
    font-size: 25px;
    color: #1d2440;
    padding-bottom: 30%;
    font-family: 'Bebas Neue', sans-serif;
}
.grade{
    z-index: -1;
    align-items: center;
    right: 100%;
    width: 100%;
    display: flex;
    transform: transform 0.40s ease-in-out;
    transform: translateX(0);
    background-color: black;
    position: absolute;
    
}









/*#####################################################################################*/
/*#####################################################################################*/















